* {
    background-color: #eed69a;

}
 .section1 {
    position: relative;
    display: block;
    width: 100%;
    height: 450px;
    margin: 0;
    margin-bottom: 5px;
    top: 20px;
    border-radius: 2%;
    border: 2px solid white;
    /* align-items: center; */
    text-align: left;
    background-image: url(./assets/perfil.jpg);
    background-size: cover;
    background-position: center;
    
}
.section2 {
    position: relative;
    display: block;
    width: 100%;
    top: 30px;
    border: 2px solid white;
    /* align-items: center; */
    text-align: left;
    
}      

.user {

    font-size: 50px;
    color: rgba(79, 87, 8, 0.986);
    margin-top: 15px;
    margin-bottom: 0px;
    background: rgb(238,214,154);
    background: linear-gradient(360deg, rgba(238,214,154,1) 0%, rgba(238,214,154,1) 46%, rgba(238,214,154,1) 67%, rgba(238,214,154,0) 100%);
} 
.avatar {
    margin-top: 150px;
    margin-left: 15px;
    height: auto;
    width: auto;
    background-color: transparent;
}
.avatar img {
    height: 200px;
    width: auto;
    border-radius: 10px;
}
.title {
    margin: 0;
    font-size: 20px;
    margin-bottom: 0px;
}
.buttons {
    display: flex;
    width: 240px;
    height: 60px;
    margin: 5px 0 20px
    /* background-color: black; */
}

.icons {
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    margin: 2px;
    padding: 4%;
    border-radius: 50%;
}

.links {
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
}

a {
    padding: 5px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500; 
    border-radius: 20px;
    color: white;
    display: block;
    text-align: center
}

.buttonFace {
    background-color: #667c3e;
    height: 100px;
    width: 100%;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.buttonFace div{
    height: auto;
    width: auto;
    background-color: transparent;
    justify-content: center;
}
.buttonFace h1 {
    background-color: transparent;
    margin-bottom: 1px;
    margin-left: 25px;
}
.buttonFace p{
    background-color: transparent;
    margin-top: 1px;
    margin-left: 25px;

}
.buttonFace img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: transparent;
    align-items: center center;
}

.buttonInsta {
    background-color: #667c3e;
    height: 100px;
    width: 100%;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.buttonInsta div{
    height: auto;
    width: auto;
    background-color: transparent;
    justify-content: center;
}
.buttonInsta h1 {
    background-color: transparent;
    margin-left: 25px;
    margin-bottom: 1px;
}
.buttonInsta p{
    background-color: transparent;
    margin-top: 1px;
    margin-left: 25px;

}
.buttonInsta img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-left: 5px;
}

.buttonLink {
    background-color: #667c3e;
    height: 100px;
    width: 100%;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.buttonLink div{
    height: auto;
    width: auto;
    background-color: transparent;
    justify-content: center;
}
.buttonLink h1 {
    background-color: transparent;
    margin-bottom: 1px;
    margin-left: 25px;
}
.buttonLink p{
    background-color: transparent;
    margin-top: 1px;
    margin-left: 25px;

}
.buttonLink img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: transparent;
    margin-right    : 2px;
}