* {
    background-color: rgb(238, 214, 154);

}
 .section1 {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    top: 20px;
    border: 2px solid white;
    /* align-items: center; */
    text-align: left;
    
}   

.perfilimg {
    width: 120px;
    height: 150px;
    border-radius: 10%;
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(71, 73, 8);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.user {
    font-size: 50px;
    color: rgba(79, 87, 8, 0.986);
    margin-top: 10px;
    margin-bottom: 1px;
} 
.avatar {
    height: auto;
    width: auto;
}
.avatar img {
    height: 100px;
    width: auto;
    border-radius: 10px;
}
.title {
    margin: 0 auto;
    font-size: 20px;
}
.buttons {
    margin: 5px;
    display: flex;
    width: 240px;
    height: 60px;
    /* background-color: black; */
}

.icons {
    background-color: #ffffff;
    color: gray;
    width: 45px;
    height: 45px;
    margin: 2px;
    padding: 4%;
    border-radius: 50%;
}

.links {
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
}

a {
    padding: 5px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 500; 
    border-radius: 20px;
    color: white;
    display: block;
    text-align: center
}

.buttonFace {
    background-color: rgb(35, 38, 238);
    height: 100px;
    width: 100%;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 50px;
}
.buttonFace h1 {
    background-color: transparent;
    margin: 20px;
}
.buttonFace p{
    background-color: transparent;
}
.buttonFace img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0;
    background-color: rgb(35, 38, 238);
}

.buttonInsta {
    background-color: rgb(216, 37, 85);
    height: 100px;
    width: 100%;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.buttonInsta h1 {
    background-color: transparent;
    margin: 20px;
}
.buttonInsta p{
    background-color: transparent;
}
.buttonInsta img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.buttonLink {
    background-color: rgb(35, 38, 238);
    height: 100px;
    width: 100%;
    color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    
}
.buttonLink h1 {
    background-color: transparent;
    margin: 20px;
}
.buttonLink p{
    background-color: transparent;
   
}
.buttonLink img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: blue  ;
}
